.slider-home{
    text-align: center;
    height: 400px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
    h3{
        color: #fff;
    }
    
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
    }
}
